<!DOCTYPE html>
@{
    ViewData["Title"] = "Edit Product";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/tableexport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css">
<script src="sweetalert2.all.min.js"></script>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Product</title>
    <script src="~/js/Product/EditProduct.js"></script>
</head>
<body>
    <button id="btnSubmit" type="submit" class="btn btn-primary float-right" asp-area=""  onclick="editProduct(0)">Confirmar</button>
    <h2>Editar Producto</h2>
    <hr>

    <div class="row">
	  <div class="col-xs-3" style="margin: 10px">
		  <label for="exampleFormControlInput1">Nombre del producto:</label>
		  <input  type="text" class="form-control" id="Description" aria-describedby="emailHelp" placeholder="Ingrese el nombre">
	  </div>

	  <div class="col-xs-3" style="margin: 10px">
		<label for="exampleFormControlImput1">Precio Unitario:</label>
		<input  type="number" class="form-control" id="UnitPrice" aria-describedby="emailHelp" placeholder="Ingrese el Precio">
	  </div>
	</div>

</body>
</html>

@section scripts{
<script>
    function getProductForEdit()
    {
         $.ajax({
        method: 'get',
        url: 'https://localhost:44379/api/Product/getProductById?Id= ' +@ViewBag.Id ,
        success: function (response) 
        {
            debugger;
            $('#Description').val(response.Description);
            $('#UnitPrice').val(response.UnitPrice);
        }
       })
    }
   
	function editProduct(page) 
    {
        const Description = ($('#Description').val()).toString()        
        const UnitPrice = $('#UnitPrice').val()
        $.ajax({
            method: 'put',
            url: 'https://localhost:44379/api/Product?Id= ' + @ViewBag.Id  + '&Description=' + Description + '&UnitPrice=' + UnitPrice,
            success: function (response) 
            {
                if (response.fueModificado == true) {
                    Swal.fire(
                        '¡Genial!',
                        'El producto se modifico con éxito.',
                        'success'
                    )
                    setTimeout(function () { window.location.href = "/Products/IndexProducts"; }, 5000);
                }
            }
        })
    };
    $(document).ready(function () 
    {
    getProductForEdit();
    });
    
</script>
}