<!DOCTYPE html>
@{
    ViewData["Title"] = "New Product";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/tableexport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css">
<script src="sweetalert2.all.min.js"></script>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New Product</title>
    <script src="~/js/Product/NewProduct.js"></script>
</head>
<body>
    <button id="btnSubmit" type="submit" class="btn btn-primary float-right" onclick="newProduct()" >Confirmar</button>
    <h2>Nuevo producto</h2>
    <hr>
   
    <div class="row">
        
         
        
    </div>

    <div class="col-xs-3" style="margin: 10px">
		  <label for="exampleFormControlInput1">Nombre del producto:</label> <label style="color:red"> (*)</label>
		  <input  type="text" class="form-control" id="Description" aria-describedby="emailHelp" placeholder="Ingrese el nombre del producto">
	  </div>

	  <div class="col-xs-3" style="margin: 10px">
		  <label for="exampleFormControlInput1">Precio unitario del producto:</label> <label style="color:red"> (*)</label>
		  <input  type="number" class="form-control" id="UnitPrice" aria-describedby="emailHelp" placeholder="Ingrese el precio unitario">
	  </div>

     
      <div class="col-xs-3" style="margin: 10px">
        <label for="exampleFormControlInput1">Stock del producto:</label> <label style="color:red"> (*)</label>
		  <input  type="number" class="form-control" id="Stock" aria-describedby="emailHelp" placeholder="Ingrese la cantidad de productos">
	  </div>

    <label style="color:red"> (*) CAMPO OBLIGATORIO</label>

</body>
</html>
